<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Define the Menu Items -->
        <menuitem id="menu_emploi_du_temps" name="Emploi Du Temps" sequence="50"/>
        <menuitem id="menu_emploi_du_temp" name="Emploi Du Temps"
                  parent="menu_emploi_du_temps" sequence="5"
                  action=""/>

<!--        <menuitem id="menu_academy_dashborad"-->
<!--                  name="Tableaux de bord"-->
<!--                  parent="menu_emploi_du_temps"-->
<!--                  action="hospital_dashboard"-->
<!--                  sequence="17"/>-->

<!--        <menuitem id="menu_academy_teacher_availability"-->
<!--                  name="Disponabilité"-->
<!--                  parent="menu_emploi_du_temps"-->
<!--                  action="action_teacher_availability"-->
<!--                  sequence="19"/>-->


        <menuitem id="menu_academy_class_room"
                  name="Emploi du temps"
                  parent="menu_emploi_du_temps"
                  action="action_academy_classroom"
                  sequence="18"/>

        <menuitem id="menu_academy_equipment"
                  name="Equipment"
                  parent="menu_emploi_du_temps"
                  action="action_teacher_equipment"
                  sequence="20"/>

    </data>
</odoo>