<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Define the Menu Items -->
        <menuitem id="menu_emploi_du_temps" name="Emploi Du Temps" sequence="8"/>
        <menuitem id="menu_emploi_du_temp" name="Emploi Du Temps"
                  parent="menu_emploi_du_temps" sequence="5"
                  action="action_teacher_calendrier"/>


                <!-- Menu Item for Teacher Availability -->
        <menuitem id="menu_academy_teacher_availability"
                  name="Disponabilité"
                  parent="menu_emploi_du_temps"
                  action="action_teacher_availability"
                  sequence="20"/>


        <menuitem id="menu_academy_class_room"
                  name="Classes"
                  parent="menu_emploi_du_temps"
                  action="action_academy_classroom"
                  sequence="20"/>

        <menuitem id="menu_academy_equipment"
                  name="Equipment"
                  parent="menu_emploi_du_temps"
                  action="action_teacher_equipment"
                  sequence="20"/>

<!--    <menuitem id="academy_main_menu" name="Academy"/>-->
<!--    -->
<!--    <menuitem id="academy_courses_menu" name="Courses" parent="academy_main_menu"/>-->
<!--    <menuitem id="academy_classrooms_menu" name="Classrooms" parent="academy_main_menu"/>-->
<!--    <menuitem id="academy_equipment_menu" name="Equipment" parent="academy_main_menu"/>-->
<!--    <menuitem id="academy_teacher_availability_menu" name="Teacher Availability" parent="academy_main_menu"/>-->



    </data>
</odoo>